## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns=['EIN', 'NAME'])
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = df['APPLICATION_TYPE'].value_counts()
print(app_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Determine cutoff value for rare application types
cutoff = 100

# Identify application types to be replaced
application_types_to_replace = list(app_counts[app_counts < cutoff].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_counts = df['CLASSIFICATION'].value_counts()
print(class_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = df['CLASSIFICATION'].value_counts()
class_counts_gt1 = class_counts[class_counts > 1]
print(class_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Determine cutoff value for rare classification types
cutoff = 500

# Identify classification types to be replaced
classifications_to_replace = list(class_counts_gt1[class_counts_gt1 < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1458
C7000      777
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C6100        1
C2600        1
C1248        1
C1580        1
C1820        1
C1900        1
C2570        1
C1283        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
# Generate dummies for categorical data
app_dummies = pd.get_dummies(df['APPLICATION_TYPE'])
class_dummies = pd.get_dummies(df['CLASSIFICATION'])
aff_dummies = pd.get_dummies(df['AFFILIATION'])
org_dummies = pd.get_dummies(df['ORGANIZATION'])
sc_dummies = pd.get_dummies(df['SPECIAL_CONSIDERATIONS'])
uc_dummies = pd.get_dummies(df['USE_CASE'])
ia_dummies = pd.get_dummies(df['INCOME_AMT'])



# Concatenate dummies and drop original columns
df = pd.concat([df, app_dummies, class_dummies, aff_dummies, org_dummies, sc_dummies, uc_dummies, ia_dummies], axis=1)
df = df.drop(columns=['APPLICATION_TYPE', 'CLASSIFICATION', 'AFFILIATION', 'USE_CASE','ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT'])

In [ ]:
# Split our preprocessed data into our features and target arrays
# Identify target variable and separate from features
target = df['IS_SUCCESSFUL'].values
features = df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42)

In [ ]:
df.shape[1]

117

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 819

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 946
Trainable params: 946
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 0.6146 - accuracy: 0.6875 - val_loss: 0.5669 - val_accuracy: 0.7279
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5700 - accuracy: 0.7142 - val_loss: 0.5555 - val_accuracy: 0.7310
Epoch 3/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7180 - val_loss: 0.5503 - val_accuracy: 0.7396
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5553 - accuracy: 0.7282 - val_loss: 0.5479 - val_accuracy: 0.7385
Epoch 5/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7297 - val_loss: 0.5464 - val_accuracy: 0.7385
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7306 - val_loss: 0.5456 - val_accuracy: 0.7391
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7308 - val_loss: 0.5461 - val_accuracy: 0.7398
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7317 - val_loss: 0.5447 - val_accuracy: 0.7383
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7314 - val_loss: 0.5462 - val_accuracy: 0.7388
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7318 - val_loss: 0.5450 - val_accuracy: 0.7357
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7319 - val_loss: 0.5454 - val_accuracy: 0.7383
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7315 - val_loss: 0.5461 - val_accuracy: 0.7380
Epoch 13/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7309 - val_loss: 0.5446 - val_accuracy: 0.7385
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7317 - val_loss: 0.5446 - val_accuracy: 0.7378
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7319 - val_loss: 0.5441 - val_accuracy: 0.7380
Epoch 16/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7319 - val_loss: 0.5444 - val_accuracy: 0.7380
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7331 - val_loss: 0.5449 - val_accuracy: 0.7378
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7319 - val_loss: 0.5456 - val_accuracy: 0.7378
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7334 - val_loss: 0.5452 - val_accuracy: 0.7370
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7340 - val_loss: 0.5435 - val_accuracy: 0.7378
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7341 - val_loss: 0.5452 - val_accuracy: 0.7370
Epoch 22/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7332 - val_loss: 0.5462 - val_accuracy: 0.7391
Epoch 23/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7344 - val_loss: 0.5471 - val_accuracy: 0.7409
Epoch 24/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7340 - val_loss: 0.5468 - val_accuracy: 0.7370
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7344 - val_loss: 0.5445 - val_accuracy: 0.7383
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7342 - val_loss: 0.5453 - val_accuracy: 0.7378
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7331 - val_loss: 0.5449 - val_accuracy: 0.7375
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7346 - val_loss: 0.5461 - val_accuracy: 0.7388
Epoch 29/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7344 - val_loss: 0.5445 - val_accuracy: 0.7385
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7353 - val_loss: 0.5452 - val_accuracy: 0.7372
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7348 - val_loss: 0.5461 - val_accuracy: 0.7375
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7350 - val_loss: 0.5458 - val_accuracy: 0.7375
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7351 - val_loss: 0.5452 - val_accuracy: 0.7359
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7346 - val_loss: 0.5490 - val_accuracy: 0.7385
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7352 - val_loss: 0.5474 - val_accuracy: 0.7393
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7354 - val_loss: 0.5469 - val_accuracy: 0.7378
Epoch 37/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7356 - val_loss: 0.5478 - val_accuracy: 0.7388
Epoch 38/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7359 - val_loss: 0.5463 - val_accuracy: 0.7383
Epoch 39/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7351 - val_loss: 0.5465 - val_accuracy: 0.7359
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7345 - val_loss: 0.5483 - val_accuracy: 0.7391
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7355 - val_loss: 0.5465 - val_accuracy: 0.7388
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7346 - val_loss: 0.5457 - val_accuracy: 0.7414
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7358 - val_loss: 0.5471 - val_accuracy: 0.7367
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7361 - val_loss: 0.5476 - val_accuracy: 0.7398
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7354 - val_loss: 0.5481 - val_accuracy: 0.7385
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7357 - val_loss: 0.5494 - val_accuracy: 0.7383
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7362 - val_loss: 0.5485 - val_accuracy: 0.7380
Epoch 48/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7361 - val_loss: 0.5518 - val_accuracy: 0.7406
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7359 - val_loss: 0.5491 - val_accuracy: 0.7396
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7355 - val_loss: 0.5498 - val_accuracy: 0.7388
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7359 - val_loss: 0.5495 - val_accuracy: 0.7388
Epoch 52/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7352 - val_loss: 0.5532 - val_accuracy: 0.7370
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7354 - val_loss: 0.5502 - val_accuracy: 0.7383
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7351 - val_loss: 0.5495 - val_accuracy: 0.7372
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7359 - val_loss: 0.5518 - val_accuracy: 0.7396
Epoch 56/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7365 - val_loss: 0.5530 - val_accuracy: 0.7398
Epoch 57/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7370 - val_loss: 0.5524 - val_accuracy: 0.7378
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7362 - val_loss: 0.5542 - val_accuracy: 0.7391
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7359 - val_loss: 0.5533 - val_accuracy: 0.7391
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7360 - val_loss: 0.5546 - val_accuracy: 0.7388
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7352 - val_loss: 0.5553 - val_accuracy: 0.7385
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7357 - val_loss: 0.5568 - val_accuracy: 0.7385
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7366 - val_loss: 0.5551 - val_accuracy: 0.7383
Epoch 64/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7359 - val_loss: 0.5561 - val_accuracy: 0.7398
Epoch 65/100
684/684 [==============================] - 4s 6ms/step - loss: 0.5402 - accuracy: 0.7359 - val_loss: 0.5563 - val_accuracy: 0.7388
Epoch 66/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5402 - accuracy: 0.7359 - val_loss: 0.5558 - val_accuracy: 0.7367
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7367 - val_loss: 0.5556 - val_accuracy: 0.7380
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7356 - val_loss: 0.5583 - val_accuracy: 0.7385
Epoch 69/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7365 - val_loss: 0.5560 - val_accuracy: 0.7403
Epoch 70/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7363 - val_loss: 0.5576 - val_accuracy: 0.7388
Epoch 71/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7362 - val_loss: 0.5573 - val_accuracy: 0.7372
Epoch 72/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5400 - accuracy: 0.7351 - val_loss: 0.5579 - val_accuracy: 0.7378
Epoch 73/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7361 - val_loss: 0.5588 - val_accuracy: 0.7380
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7356 - val_loss: 0.5618 - val_accuracy: 0.7383
Epoch 75/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7357 - val_loss: 0.5565 - val_accuracy: 0.7383
Epoch 76/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7362 - val_loss: 0.5564 - val_accuracy: 0.7391
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7359 - val_loss: 0.5569 - val_accuracy: 0.7380
Epoch 78/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7351 - val_loss: 0.5604 - val_accuracy: 0.7385
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7366 - val_loss: 0.5590 - val_accuracy: 0.7388
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7364 - val_loss: 0.5601 - val_accuracy: 0.7393
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7362 - val_loss: 0.5590 - val_accuracy: 0.7391
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7361 - val_loss: 0.5574 - val_accuracy: 0.7378
Epoch 83/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7361 - val_loss: 0.5604 - val_accuracy: 0.7380
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7363 - val_loss: 0.5590 - val_accuracy: 0.7393
Epoch 85/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7362 - val_loss: 0.5612 - val_accuracy: 0.7391
Epoch 86/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5394 - accuracy: 0.7354 - val_loss: 0.5585 - val_accuracy: 0.7375
Epoch 87/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7362 - val_loss: 0.5627 - val_accuracy: 0.7396
Epoch 88/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7356 - val_loss: 0.5619 - val_accuracy: 0.7401
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7361 - val_loss: 0.5607 - val_accuracy: 0.7388
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7368 - val_loss: 0.5608 - val_accuracy: 0.7388
Epoch 91/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7360 - val_loss: 0.5618 - val_accuracy: 0.7383
Epoch 92/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7364 - val_loss: 0.5620 - val_accuracy: 0.7398
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7355 - val_loss: 0.5627 - val_accuracy: 0.7391
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7362 - val_loss: 0.5619 - val_accuracy: 0.7398
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7359 - val_loss: 0.5650 - val_accuracy: 0.7385
Epoch 96/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7361 - val_loss: 0.5644 - val_accuracy: 0.7403
Epoch 97/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7357 - val_loss: 0.5638 - val_accuracy: 0.7385
Epoch 98/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7376 - val_loss: 0.5641 - val_accuracy: 0.7391
Epoch 99/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7364 - val_loss: 0.5642 - val_accuracy: 0.7396
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7362 - val_loss: 0.5668 - val_accuracy: 0.7396

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5575 - accuracy: 0.7300 - 396ms/epoch - 1ms/step
Loss: 0.5575385689735413, Accuracy: 0.7300291657447815

In [ ]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/Model_1.h5')
files.download('/content/Model_1.h5')